#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#searchField {
  margin: 10px;
}

/*Pages' tab pattern*/
.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.tab.active {
  background-color: rgba(255, 255, 255, 0.4);
}

/*ProductPage*/
.prod {
  width: 140px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-container {
  height: 80px;
}
.prod strong {
  vertical-align: middle;
}
.prod del {
  color: gray;
}
.prod img {
  height: 80px;
  width: auto;
  margin-bottom: 5px;
}
#prodPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fancy-button {
  margin-top: 10px;
  padding: 5px 15px;
  border-width: 0;
  color: #fff;
  background-color: #CB564E;
  font-size: 1rem;
  cursor: pointer;
}
.fancy-button:hover {
  background-color: #FC8A7E;
}
.amount {
  margin-top: 10px;
  padding: 5px 15px;
  border-width: 0;
  color: #fff;
  background-color: #B13634;
  font-size: 1rem;
  cursor: pointer;
}

/*CartPage*/
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  width: 90%;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-details {
  padding: 5px 20px;
}

.product-details p {
  margin: 5px 5px;
}

.quantity-input {
  margin-bottom: 10px;
}

.quantity-input input {
  margin-top: 0px;
  width: 50px;
}

.second-line {
  display: flex;
  padding: 5px 20px;
  align-items: center;
}

.second-line p {
  margin-right: 20px;
}

.product-image {
  padding: 5px 10px;
}

.product-image img {
  max-width: 100px;
  max-height: 100px;
}

/* Style for the remove button */
.cart-item button {
  background-color: #dc3545; /* Red background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer; /* Show pointer cursor on hover */
}

.cart-item button:hover {
  background-color: #c82333; /* Darker red background color on hover */
}

/* Style for the Modal */
.modal-mask {
  display: flex;
}

.modal-title {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between;
}

.modal-image {
  display: flex;
  align-items: center;
}

.modal-image img {
  max-height: 400px;
}

.modal-image button {
  padding: 5px 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content del {
  color: gray;
}

.close-button {
  margin-right: 10px;
}

.title-container {
  flex-grow: 1; /* Expand to take remaining space */
}