#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Pages' tab pattern*/
.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.tab.active {
  background-color: rgba(255, 255, 255, 0.4);
}

/*ProductPage*/
.prod {
  width: 140px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}
#prodPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fancy-button {
  padding: 5px 15px;
  border-width: 0;
  color: #fff;
  background-color: #f63;
  font-size: 1rem;
  cursor: pointer;
}
.fancy-button:hover {
  background-color: #e52;
}

/*CartPage*/
.product-details {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Align items vertically in the center */
}

.product-details strong {
  margin-right: 10px; /* Add some space between the product name and the rest of the details */
}

.product-details p {
  margin: 0; /* Remove default margin */
}

.cart-item {
  margin-bottom: 10px; /* Add some space between each cart item */
}

/* Style for the remove button */
.cart-item button {
  background-color: #dc3545; /* Red background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer; /* Show pointer cursor on hover */
}

.cart-item button:hover {
  background-color: #c82333; /* Darker red background color on hover */
}
